{erl_opts, [debug_info]}.
{deps, [
        {riak_pb, {git, "https://github.com/basho/riak_pb", {tag, "2.1.4.2"}}}
       ]}.
{overrides, [
             {add, riak_pb, [
                             {plugins, [
                                        {rebar3_protobuffs_plugin, {git, "https://github.com/lucafavatella/rebar3_protobuffs_plugin.git", {ref, "9d3eed4"}}}
                                       ]
                             },
                             {provider_hooks, [{pre, [{compile, {protobuffs, compile}}]}]}
                            ]}
            ]}.
